* {
  box-sizing: border-box;
}

.ind {
  padding: 10px;
  width: 50px;
  display: inline-block;
  margin: 10px;
  border: 1px solid black;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(109, 99, 99);
  color: wheat;
}

.box {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px auto;
  width: 80%;
  text-align: center;
}

.updateBtn {
  display: block;
  width: 50%;
  margin: auto;
  text-align: center;
}
